body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: honeydew;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid honeydew;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #537e53;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #bcbcbc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:hover {
    background: rgb(210, 210, 210);
}

li .delete-button {
    background: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li .delete-button:hover {
    background: #c82333;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}